/*==========  CSS Reset  ==========*/

html, body, div, span, h1, h2, h3,
h4, h5, h6, p, ol, ul, li, article,
aside, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/*==========  Navigation  ==========*/

.mobile-nav, .side-menu {
    display: none;
}

nav {
    position: absolute;
    width: 100%;
    text-align: center;
}

nav ul {
    padding: 20px 0;
    display: inline-block;
}

nav li {
    padding: 0 10px;
    display: inline-block;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.active-tab {
    border-bottom: 5px solid white;
}

/*==========  Header  ==========*/

/*==========  Main Content  ==========*/

/*=====  Global  =====*/

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.hero-image {
    width: 100%;
    height: 70vh;
}

.hero-image-1 {
    background:
    linear-gradient(
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2)
    ),
    url("../assets/images/photo-1440635592348-167b1b30296f.jpg");
    background-attachment: fixed;
    background-position: center bottom;
}

.hero-image-2 {
    background:
    linear-gradient(
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2)
    ),
    url("../assets/images/photo-1441644599508-24ae08965c5c.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.hero-image-3 {
    background:
    linear-gradient(
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2)
    ),
    url("../assets/images/photo-1428999418909-363f8e091c50.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.hero-image-4 {
    background:
    linear-gradient(
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2)
    ),
    url("../assets/images/photo-1439074216907-51e7025705db.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.hero-image-5 {
    background:
    linear-gradient(
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2)
    ),
    url("../assets/images/photo-1440262206549-8fe2c3b8bf8f-min.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 70px;
    position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

}

.intro-sentence {
    line-height: 1.5;
    background-color: rgb(16,17,18);
    text-align: center;
    font-size: 30px;
    padding: 50px 30px;
}

.intro-sentence p {
    max-width: 900px;
    margin: auto;
}

.hidden {
    display: none;
}

/*=====  Home  =====*/

.max-width {
    max-width: 1200px;
    margin: auto;
}

.language-column, .text-column {
    text-align: center;
    width: 50%;
    display: inline-block;
}

.left {
    float: left;
}
.right {
    float: right;
}

/*=====  AngularJS  =====*/

.text-column {
    max-width: 548px;
    padding: 50px 0;
    font-size: 21px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: rgb(16,17,18);
}

.language-column div {
    padding: 75px 0;
}

.language-column a {
    color: #422961;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.language-column a:hover {
    text-shadow: 0px -2px 0px #333,
    0px 2px 3px #666;
}

.sentence p {
    font-size: 25px;
    text-align: center;
    color: #038C4C;
    padding-bottom: 50px;
}

.code-snippet {
    display: inline-block;
    vertical-align:text-bottom;
}

.code-sentence {
    display: inline-block;
    float: right;
}

.code-sentence p {
    color: black;
    max-width: 600px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    padding: 179px 0;
}

.image-align-center {
    text-align: center;
}

.code-snippet-container {
    padding: 50px 0;
}

/*=====  Fancybox  =====*/

.top {
    margin-top: 4px;
}

.grid a {
    text-decoration: none;
}

.grid img {
    width: 397px;
}


/*=====  CSS3  =====*/

.gradient-background {
  background: #00346C;
  background: -webkit-linear-gradient(left, #00346C, #7EA9C7);
  background: -o-linear-gradient(right, #00346C, #7EA9C7);
  background: -moz-linear-gradient(right, #00346C, #7EA9C7);
  background: linear-gradient(to right, #00346C, #7EA9C7);
}

.gradient-background p {
    text-align: center;
    padding: 120.5px 0;
    font-size: 40px;
}

.box-container {
    padding: 10px 0;
}

.animation-boxes {
    padding: 10px 0;
}

.animation-box p {
    text-align: center;
    font-size: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#box-1 {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    background-color: #88A825;
    -webkit-animation: colorchange 10s infinite;
    animation: colorchange 10s infinite;
}

#box-2 {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    background-color: #000;
    -webkit-animation: rotate 7s infinite;
    animation: rotate 7s infinite;
}

#box-3 {
    position: relative;
    height: 200px;
    width: 50%;
    background-color: #00346C;
    border-radius: 10px;
    -webkit-animation: move 10s infinite;
    animation: move 10s infinite;
}

@-webkit-keyframes colorchange {
    0%   {background-color: #88A825;}
    25%  {background-color: #35203B;}
    50%  {background-color: #911146;}
    75%  {background-color: #CF4A30;}
}

@keyframes colorchange {
    0%   {background-color: #88A825;}
    25%  {background-color: #35203B;}
    50%  {background-color: #911146;}
    75%  {background-color: #CF4A30;}
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotateZ(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotateZ(360deg);
        transform:rotateZ(360deg);
    }
}

@-webkit-keyframes move {
    0%{left: 0%;}
    50%{left: 50%;}
    100%{left: 0%;}
}

/* Standard syntax */
@keyframes move {
    0%{left: 0%;}
    50%{left: 50%;}
    100%{left: 0%;}
}

/*=====  Flexbox  =====*/

.flexible-boxes-container, .flexible-area-container {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flexible-boxes-container {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flexible-boxes {
    margin: 10px;
    width: 280px;
    height: 280px;
    border-radius: 10px;
}

.flexible-area {
    margin: 10px;
    width: 280px;
    height: 280px;
    border-radius: 10px;
}

.green {
    background-color: #88A825;
}

.purple {
    background-color: #35203B;
}

.pink {
    background-color: #911146;
}

.orange {
    background-color: #CF4A30;
}

/*==========  Footer  ==========*/

footer {
    background-color: rgb(16,17,18);
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 30px;
}

.social-networking-links {
    display: inline-block;
}

.social-networking-links a, .footer-tag a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

.linked-in {
    padding-left: 25px;
}

.social-networking-links a:hover, .footer-tag a:hover {
    color: #464646;
}

.footer-tag {
    display: inline-block;
    float: right;
    padding-top: 5px;
}

.footer-tag a {
    border-right: 2px solid #fff;
    padding-right: 5.5px;
    font-size: 16px;
}

/*==========  Media Queries  ==========*/

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

    .hero-image-1, .hero-image-2, .hero-image-3, .hero-image-4, .hero-image-5 {
        background-attachment: scroll;
    }

    .intro-sentence {
        font-size: 28px;
    }

}

@media only screen and (max-width : 768px) {

    /*=====  Mobile Navigation  =====*/

    .container {
        padding-top: 58px;
    }

    .nav-home {
        float: left;
        position: absolute;
        padding-left: 20px;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .nav-home a {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 35px;
        text-decoration: none;
        color: #fff;
    }

    nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        position: fixed;
        width: 100%;
        background-color: rgb(16,17,18);
        border-bottom: 1px solid #fff;
        z-index: 99;

    }

    .side-menu-btn {
        display: inline-block;
        float: right;
        padding: 20px;
    }

    .side-menu-btn span {
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
    }

    .side-menu-btn span:nth-child(2) {
        margin: 4px 0;
    }

    .side-menu {
        position: fixed;
        width: 100%;
        display: none;
        text-align: center;
        margin-top: 58px;
        background-color: rgb(16,17,18);
        z-index: 1;
    }

    .side-menu a {
        font-size: 20px;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
    }

    .side-menu li {
        line-height: 65px;
        border-bottom: 1px solid #fff;
    }

    .side-menu li:hover {
        background-color: rgb(113,120,127);
    }

    .active-tab {
        background-color: rgb(113,120,127);
        border: 0;
    }

}

@media only screen and (max-width : 480px) {

    /*=====  Global  =====*/

    h1 {
        font-size: 35px;
    }

    .intro-sentence {
        padding: 15px 0;
        font-size: 21px;
    }

    .text-column {
        float: none;
        width: 100%;
        height: 190px;

    }

    .left, .right {
        float: none;
    }

    /*=====  Home  =====*/

    .language-container {
        padding: 50px 0;
    }

    .language-column a {
        font-size: 40px;
    }

    .language-column {
        width: 100%;
    }

    .language-column div {
        padding: 50px 0;
    }

    /*=====  AngularJS  =====*/

    .code-sentence {
        display: block;
        float: none;
    }

    .code-snippet-container {
        padding: 0;
    }

    .code-snippet {
        width: 100%;
    }

    .code-sentence p {
        font-size: 19px;
        padding: 50px 0;
    }

    /*=====  Fancybox  =====*/

    .top {
        margin-top: 0;
    }

    .grid {
        padding-top: 4px;
    }

    .grid img {
        width: 100%;
    }

    /*=====  CSS3  =====*/

    .animation-boxes {
        margin: 0 10px;
    }

    /*=====  Footer  =====*/

    footer {
        text-align: center;
    }

    .social-networking-links a {
        font-size: 20px;
    }

    .footer-tag {
        padding-top: 13px;
        display: block;
        float: none;
        font-size: 12px;
    }

    .footer-tag a {
        font-size: 12px;
        padding-right: 4px;
    }
}

@media only screen and (max-width : 320px) {

}