/*==========  CSS Reset  ==========*/

html, body, div, span, h1, h2, h3,
h4, h5, h6, p, ol, ul, li, article,
aside, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/*==========  Navigation  ==========*/

.mobile-nav, .side-menu {
    display: none;
}

nav {
    text-align: center;
    background-color: rgb(16,17,18);
}

nav ul {
    padding: 20px 0;
    display: inline-block;
}

nav li {
    padding: 0 10px;
    display: inline-block;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

/*==========  Header  ==========*/

/*==========  Main Content  ==========*/

body {
    font-family: 'Montserrat', sans-serif;
}

/*==========  Footer  ==========*/

footer {
    background-color: rgb(16,17,18);
    padding: 20px 30px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
}

.footer-tag {
    text-align: center;
    color: #fff;
}

/*==========  Media Queries  ==========*/

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

    .container {
        padding-top: 58px;
    }

    nav {
        display: none;
    }

    /*==========  Mobile Navigation  ==========*/

    .mobile-nav {
        display: block;
        position: fixed;
        width: 100%;
        background-color: #000;
        border-bottom: 1px solid #fff;
        z-index: 99;

    }

    .side-menu-btn {
        float: right;
        padding: 20px;
    }

    .side-menu-btn span {
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
    }

    .side-menu-btn span:nth-child(2) {
        margin: 4px 0;
    }

    .side-menu {
        position: fixed;
        width: 100%;
        display: none;
        text-align: center;
        margin-top: 48px;
        background-color: #000;
    }

    .side-menu a {
        font-size: 20px;
        text-decoration: none;
        color: #fff;
    }

    .side-menu li {
        padding: 20px 0;
    }

    .side-menu li:not(:last-child) {
        border-bottom: 1px solid #fff;
    }

}

@media only screen and (max-width : 480px) {

    footer {
        text-align: center;
    }

    .footer-tag {
        display: block;
        float: none;
    }
}

@media only screen and (max-width : 320px) {

}