/*==========  CSS Reset  ==========*/

html, body, div, span, h1, h2, h3,
h4, h5, h6, p, ol, ul, li, article,
aside, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/*==========  Navigation  ==========*/

.mobile-nav, .side-menu {
    display: none;
}

nav {
    position: absolute;
    width: 100%;
    text-align: center;
}

nav ul {
    padding: 20px 0;
    display: inline-block;
}

nav li {
    padding: 0 10px;
    display: inline-block;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.active-tab {
    border-bottom: 5px solid white;
}

/*==========  Header  ==========*/

/*==========  Main Content  ==========*/

/*=====  Global  =====*/

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/*body:after {
    display:none;
    content:
        url("../assets/images/photo-1441644599508-24ae08965c5c.jpg")
        url("../assets/images/photo-1440635592348-167b1b30296f.jpg")
        url("../assets/images/photo-1428999418909-363f8e091c50.jpg")
        url("../assets/images/photo-1439074216907-51e7025705db.jpg")
        url("../assets/images/photo-1445964047600-cdbdb873673d.jpg");
}*/

.hero-image {
    width: 100%;
    height: 70vh;
}

.hero-image-1 {
    background:
    linear-gradient(
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2)
    ),
    url("../assets/images/photo-1441644599508-24ae08965c5c.jpg");
    background-size: cover;
    background-position: center bottom;
}

.hero-image-2 {
    background:
    linear-gradient(
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2)
    ),
    url("../assets/images/photo-1440635592348-167b1b30296f.jpg");
    background-size: cover;
    background-position: center bottom;
}

.hero-image-3 {
    background:
    linear-gradient(
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2)
    ),
    url("../assets/images/photo-1428999418909-363f8e091c50.jpg");
    background-size: cover;
    background-position: center bottom;
}

.hero-image-4 {
    background:
    linear-gradient(
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2)
    ),
    url("../assets/images/photo-1439074216907-51e7025705db.jpg");
    background-size: cover;
    background-position: center bottom;
}

.hero-image-5 {
    background:
    linear-gradient(
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2)
    ),
    url("../assets/images/photo-1445964047600-cdbdb873673d.jpg");
    background-size: cover;
    background-position: center bottom;
}

h1 {
    font-size: 60px;
    position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

}

.intro-sentence {
    background-color: rgb(16,17,18);
    text-align: center;
    font-size: 30px;
    padding: 50px 0;
}

.intro-sentence p {
    max-width: 900px;
    margin: auto;
}

/*=====  Home  =====*/

.text-color-columns {
    color: #422961;
}

.text-column, .color-column {
    width: 50%;
    display: inline-block;
}

.color-column {
    background-color: #422961;
}

/*=====  AngularJS  =====*/
/*=====  jQuery  =====*/
/*=====  CSS3  =====*/
/*=====  Mithril  =====*/

/*==========  Footer  ==========*/

footer {
    background-color: rgb(16,17,18);
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 30px;
}

.social-networking-links {
    display: inline-block;
}

.social-networking-links a, .footer-tag a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

.linked-in {
    padding-left: 25px;
}

.social-networking-links a:hover, .footer-tag a:hover {
    color: #464646;
}

.footer-tag {
    display: inline-block;
    float: right;
    padding-top: 5px;
}

.footer-tag a {
    border-right: 2px solid #fff;
    padding-right: 5.5px;
    font-size: 16px;
}

/*==========  Media Queries  ==========*/

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

    .container {
        padding-top: 58px;
    }

    nav {
        display: none;
    }

    /*==========  Mobile Navigation  ==========*/

    .mobile-nav {
        display: block;
        position: fixed;
        width: 100%;
        background-color: rgb(16,17,18);
        border-bottom: 1px solid #fff;
        z-index: 99;

    }

    .side-menu-btn {
        float: right;
        padding: 20px;
    }

    .side-menu-btn span {
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
    }

    .side-menu-btn span:nth-child(2) {
        margin: 4px 0;
    }

    .side-menu {
        position: fixed;
        width: 100%;
        display: none;
        text-align: center;
        margin-top: 58px;
        background-color: rgb(16,17,18);
        z-index: 1;
    }

    .side-menu a {
        font-size: 20px;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
    }

    .side-menu li {
        line-height: 65px;
        border-bottom: 1px solid #fff;
    }

    .side-menu li:hover {
        background-color: rgb(113,120,127);
    }

    .active-tab {
        background-color: rgb(113,120,127);
        border: 0;
    }

}

@media only screen and (max-width : 480px) {

    footer {
        text-align: center;
    }

    .footer-tag {
        display: block;
        float: none;
    }
}

@media only screen and (max-width : 320px) {

}