<div class="hero-image hero-image-5">
    <h1>Flexbox</h1>
</div>
<div class="intro-sentence">
    <p>
        Flexbox simplifies page layouts
    </p>
</div>
<div class="flexible-boxes-container max-width">
    <div class="flexible-boxes green">

    </div>
    <div class="flexible-boxes purple">

    </div>
    <div class="flexible-boxes pink">

    </div>
    <div class="flexible-boxes orange">

    </div>
    <div class="flexible-boxes pink">

    </div>
    <div class="flexible-boxes orange">

    </div>
    <div class="flexible-boxes green">

    </div>
    <div class="flexible-boxes purple">

    </div>
    <div class="flexible-boxes orange">

    </div>
    <div class="flexible-boxes pink">

    </div>
    <div class="flexible-boxes purple">

    </div>
    <div class="flexible-boxes green">

    </div>
</div>

<div class="intro-sentence">
    <p>
        Flexbox also has relative sizing abilities
    </p>
</div>

<div class="flexible-area-container max-width">
    <div class="flexible-area green">

    </div>
    <div class="flexible-area purple">

    </div>
    <div class="flexible-area pink">

    </div>
    <div class="flexible-area orange">

    </div>
    <div class="flexible-area pink">

    </div>
    <div class="flexible-area orange">

    </div>
    <div class="flexible-area green">

    </div>
    <div class="flexible-area purple">

    </div>
    <div class="flexible-area orange">

    </div>
    <div class="flexible-area pink">

    </div>
    <div class="flexible-area purple">

    </div>
    <div class="flexible-area green">

    </div>
</div>