<div class="hero-image hero-image-5">
    <h1>Flexbox</h1>
</div>
<div class="intro-sentence">
    <p>
        Flexbox simplifies page layouts
    </p>
</div>
<div class="flexible-boxes-container max-width">
    <div id="flexible-box-1" class="flexible-boxes">

    </div>
    <div id="flexible-box-2" class="flexible-boxes">

    </div>
    <div id="flexible-box-3" class="flexible-boxes">

    </div>
    <div id="flexible-box-4" class="flexible-boxes">

    </div>
    <div id="flexible-box-5" class="flexible-boxes">

    </div>
    <div id="flexible-box-6" class="flexible-boxes">

    </div>
    <div id="flexible-box-7" class="flexible-boxes">

    </div>
    <div id="flexible-box-8" class="flexible-boxes">

    </div>
    <div id="flexible-box-9" class="flexible-boxes">

    </div>
    <div id="flexible-box-10" class="flexible-boxes">

    </div>
    <div id="flexible-box-11" class="flexible-boxes">

    </div>
    <div id="flexible-box-12" class="flexible-boxes">

    </div>
</div>