<div class="hero-image hero-image-4">
    <h1>CSS3</h1>
</div>
<div class="intro-sentence">
    <p>
        CSS3 has elemenated certain JavaScript needs
    </p>
</div>
<div class="gradient-background">
    <p>
        With CSS3 we can make gradient transitions
    </p>
</div>
<div class="intro-sentence">
    <p>
        We can also setup animations
    </p>
</div>
<div class="animation-boxes max-width">
    <div class="box-container">
        <div class="animation-box" id="box-1">
            <p>I CAN CHANGE COLORS!</p>
        </div>
    </div>
    <div class="box-container">
        <div class="animation-box" id="box-2">
            <p>I CAN ROTATE!</p>
        </div>
    </div>
    <div class="box-container">
        <div class="animation-box" id="box-3">
            <p>
                I CAN MOVE!
            </p>
        </div>
    </div>
</div>