<div class="hero-image hero-image-1">
    <h1>Modern Web Design</h1>
</div>
<div class="intro-sentence">
    <p>
        We can do a lot with HTML, CSS3, and JavaScript
    </p>
</div>
<div class="max-width language-container">
    <div class="language-column left">
        <div>
            <a href="https://angularjs.org/" target="_blank">AngularJS</a>
        </div>
    </div>
    <div class="language-column right">
        <div>
            <a href="http://fancybox.net/" target="_blank">Fancybox</a>
        </div>
    </div>
    <div class="language-column left">
        <div>
            <a href="http://www.w3schools.com/css/css3_intro.asp" target="_blank">CSS3</a>
        </div>
    </div>
    <div class="language-column">
        <div>
            <a href="http://www.w3schools.com/css/css3_flexbox.asp" target="_blank">Flexbox</a>
        </div>
    </div>
</div>
