<div class="hero-image hero-image-1">
    <h1>Modern Web Design</h1>
</div>
<div class="intro-sentence">
    <p>
        Web Development is fun when you have so many awesome frameworks to play with!
    </p>
</div>
<div class="text-color-columns">
    <div class="text-column">
        AngularJS
    </div>
    <div class="color-column">

    </div>
    <div class="color-column">

    </div>
    <div class="text-column">
        jQuery
    </div>
    <div class="text-column">
        CSS3
    </div>
    <div class="color-column">

    </div>
    <div class="color-column">

    </div>
    <div class="text-column">
        Mithril
    </div>
</div>
