<div class="hero-image hero-image-3">
    <h1>Fancybox</h1>
</div>
<div class="intro-sentence">
    <p>
        Fancybox is a clean and easy modal window
    </p>
</div>
<div class="grid max-width">
    <a class="fancybox" rel="group" href="../assets/images/cats/cat-wallpaper-3.jpg">
        <img id="cat-1" class="top" src="../assets/images/cats/cat-wallpaper-3.jpg">
    </a>
    <a class="fancybox" rel="group" href="../assets/images/cats/cat_20155.jpg">
        <img id="cat-2" class="top" src="../assets/images/cats/cat_20155.jpg">
    </a>
    <a class="fancybox" rel="group" href="../assets/images/cats/cats_00294116.jpg">
        <img id="cat-3" class="top" src="../assets/images/cats/cats_00294116.jpg">
    </a>
    <a class="fancybox" rel="group" href="../assets/images/cats/jump-cat-wallpaper.jpg">
        <img id="cat-4" src="../assets/images/cats/jump-cat-wallpaper.jpg">
    </a>
    <a class="fancybox" rel="group" href="../assets/images/cats/the-most-awesome-cat.jpg">
        <img id="cat-5" src="../assets/images/cats/the-most-awesome-cat.jpg">
    </a>
    <a class="fancybox" rel="group" href="../assets/images/cats/ws_Curious_Cat_1920x1080.jpg">
        <img id="cat-6" src="../assets/images/cats/ws_Curious_Cat_1920x1080.jpg">
    </a>
    <a class="fancybox" rel="group" href="../assets/images/cats/ws_Cats_and_Macbook_1920x1080.jpg">
        <img id="cat-7" src="../assets/images/cats/ws_Cats_and_Macbook_1920x1080.jpg">
    </a>
    <a class="fancybox" rel="group" href="../assets/images/cats/ws_Cats_1920x1080.jpg">
        <img id="cat-8" src="../assets/images/cats/ws_Cats_1920x1080.jpg">
    </a>
    <a class="fancybox" rel="group" href="../assets/images/cats/Cats-also-use-the-camera_1920x1080.jpg">
        <img id="cat-8" src="../assets/images/cats/Cats-also-use-the-camera_1920x1080.jpg">
    </a>
</div>