<div class="hero-image hero-image-3">
    <h1>jQuery</h1>
</div>
<div class="intro-sentence">
    <p>
        Jquery makes responsive web design easy
    </p>
</div>
<div class="grid max-width">
    <img src="../assets/images/cats/cat-wallpaper-3.jpg"><img src="../assets/images/cats/cat_20155.jpg"><img src="../assets/images/cats/cats_00294116.jpg"><img src="../assets/images/cats/jump-cat-wallpaper.jpg">
    <img src="../assets/images/cats/the-most-awesome-cat.jpg"><img src="../assets/images/cats/ws_Cats_1920x1080.jpg"><img src="../assets/images/cats/ws_Cats_and_Macbook_1920x1080.jpg"><img src="../assets/images/cats/ws_Curious_Cat_1920x1080.jpg">
</div>

<div class="modal-window" id="modal-window">
    <div class="modal-content">
        This is
    </div>
</div>