<div class="hero-image hero-image-2">
    <h1>AngularJS</h1>
</div>
<div class="intro-sentence">
    <p>
        AngularJS is a great solution for data-binding and routing
    </p>
</div>
<div class="max-width">
    <div class="text-column">
        <p>
            AngularJS is an MVC (Model View Controller) JavaScript framework. It holds the concept of single page web applications by updating views instead of preforming a full browser refresh. As one might guess, this concept significantly increases performance and decreases repetition of HTML elements.
        </p>
    </div>
    <div class="text-column right">
        <p>
            Angular's routing functionality is a great solution for creating single page applications such as this one. When the user clicks on a link it appears to go to another page. What's really happening is Angular updates the view by swapping out the page's content.
        </p>
    </div>
</div>
<div class="intro-sentence">
    <p>
        Here is an example of Angular routing configuration
    </p>
</div>
<div class="max-width">
    <img class="code-snippet" src="assets/images/routing.png">
    <div class="code-sentence">
        <p>
            For instance, when the home link is clicked on, Angular takes the content
            of partials/one.html and plugs it into the DOM. The scope of Angular's routing
            is determined by where <span class="aqua">ng-view</span> is placed in the HTML.
        </p>
    </div>
</div>