<div class="hero-image hero-image-2">
    <h1>AngularJS</h1>
</div>
<div class="intro-sentence">
    <p>
        AngularJS is a great solution for data-binding and routing
    </p>
</div>
<div class="max-width">
    <div class="text-column">
        <p>
            AngularJS is an MVC (Model View Controller) JavaScript framework. It holds the concept of single page web applications by updating views instead of preforming a full browser refresh. As one might guess, this concept significantly increases performance and decreases repetition of HTML elements.
        </p>
    </div>
    <div class="text-column right">
        <p>
            AngularJS is an MVC (Model View Controller) JavaScript framework. It holds the concept of single page web applications by updating views instead of preforming a full browser refresh. As one might guess, this concept significantly increases performance and decreases repetition of HTML elements.
        </p>
    </div>
</div>
<div class="code-snippet">
    <pre>
        <code>
            app.config([
                <span>'$routeProvider'</span>,
                function($routeProvider) {
                    $routeProvider
                    .when('/home', {
                        templateUrl: 'partials/one.html',
                        controller: 'OneCtrl'
                    })
                    .when('/angularjs', {
                        templateUrl: 'partials/two.html',
                        controller: 'TwoCtrl'
                    })
                    .when('/jquery', {
                        templateUrl: 'partials/three.html',
                        controller: 'ThreeCtrl'
                    })
                    .when('/css3', {
                        templateUrl: 'partials/four.html',
                        controller: 'FourCtrl'
                    })
                    .when('/mithril', {
                        templateUrl: 'partials/five.html',
                        controller: 'FiveCtrl'
                    })
                    .otherwise({
                        redirectTo: '/home'
                    });
                }
            ]);
        </code>
    </pre>
</div>